/**
 * This file provides the most basic styles.
 */

html,
body {
    background-color: __background__;
    color: __text__;
    font-family: __font_family__;
}

img,
svg {
    border-width: 0;
}

img,
svg,
video {
    height: auto;
}

img,
svg,
object,
iframe,
video,
audio,
select {
    max-width: 100%;
}

pre {
    overflow: auto;
    word-wrap: normal;
    direction: ltr;
    unicode-bidi: bidi-override;
    text-align: left;
}
